$lt-gray: #ddd;
$background-dark: #25629b;
$background-light: #3188aa;
$background-pale: #D1C4E9;

.mat-toolbar {
    background: #075a69;
    color: #cccfd4;
  }
  
@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(0px,10px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}