.full-width {
    width: 85%;
    margin-left: 8px;
    margin-right: 8px;

}

.half-width {
    width: 40%;
    margin-left: 8px;
    margin-right: 8px;
}

.form-size {
    width: 35%
}

.bt-submit {
    float: right;
    background: #075a69;
    color: white;
    display: table-cell;
    margin-right: 5%;
}