/* Structure */
table {
  margin-left: 3%;
  width: 45%;
}

.mat-form-field {
  font-size: 14px;
  width: 20%;
  margin-left: 3%;
  margin-top: 2%

}

th.mat-sort-header-sorted {
  color: black;
}

.mat-icon-button {
  color: #7393B3
}